.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fileInput {
    width:200px;
    height:70px;
}

.inputDiv {
    width:200px;
    height:200px;
}

.outputDiv {
    display: flex;
    justify-content: center;
    width:70%
}

