.placeBox {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding:10px;

    border-bottom: 1px solid black;
}

/* .columnDiv { */

/* } */

.info {
    width:80%;
}

.info2 {
    width:80%;
}

/* .player1 {
    background-color: var(--color-two)}

.player2 {
    background-color: var(--color-three);
}

.player3 {
    background-color: var(--color-four);
} */

.break {
    width:80%;
    border: 1px solid black;
}

.mapIcon {
    width:25%;
    height:25%;
}