.placeContainer {
    width:80%;
    height:100%;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin:0px;
}

.columnDiv {
    width:100%;
    padding:20px;
}

.backgroundPlace {
    background-color: var(--color-two);
}
.backgroundAddress {
    background-color: var(--color-three);
}

.player1 {
    background-color: var(--color-two)}

.player2 {
    background-color: var(--color-three);
}

.player3 {
    background-color: var(--color-four);
}

.toggle {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:100%;
    height:50px;
}

.toggleButtonGroup {
    display: flex;
    justify-content: center;
}

.toggleButtonGroup button {
    color:rgb(0, 0, 0);
    background-color: rgba(101, 101, 172, 0.515);
}