.placeContainer {
    width:80%;
    height:100%;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin:0px;
}

.columnDiv {
    width:100%;
    padding:20px;
}

.backgroundPlace {
    background-color: rgb(220, 173, 193);
}
.backgroundAddress {
    background-color: rgb(173, 198, 220);
}

.toggle {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:100%;
    height:50px;
}