.App {
  text-align: center;
  /* background-color: var(--colorBase2); */
}

html {
  background-color: var(--colorBase);
}

h1, h2, p {
  color:rgb(0, 0, 0);
}

:root {
  --colorBase: #ECECEC;
  --colorBase2: #787878;
  --color-two: #f6897d;
  --color-three:  #29d763;
  --color-four:  #6987C9;

  --textColor: white;
}