.map-container {
    height: 100%;
    width: 100%;
    border: 4px solid var(--colorBase2);
  }

.mapDiv {
    width:100%;
    height:100%;
}

.mapWrapper {
    width:100%;
    height:400px;
    padding:20px;
}

.marker {
    z-index: 500;
}